.dailyListBox{
	margin:100px auto 0;
	min-height: 80vh;
	background-color: #fdfdfd;
}

.mirisLogo{
	margin: 50px auto;
	width: 250px;
	display: block;
}

.title {
	text-align:center;
	margin: 0 auto 5px;
	width: 800px;
}

.search{
	width:800px;
	margin: 0 auto;
}

.gbnSearch{
	display: inline-block;
}

.nameSearch{
	display: inline-block;
}

.searchDate{
	display: inline-block;
}

.searchBtn{
	float: right;
}

.memberSumTable{
  width: 800px;
  margin: 0 auto;
  text-align: center;
/*   min-height: 100vh;
  padding: 33px 30px; */
}

.memberSum {
  width: 100%;
  display: table;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
}

.memberSum-rowheader {
  color: #24292e;
  background: #efefef;
  width: 20%;
}

.memberSum-rowheader th {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 10px 2px;
}
.memberSum-row {
  display: table-row;
  background: #fff;
}

.memberSum-row td {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 10px 2px;
  border-bottom: 1px solid #f2f2f2;
}


.memberListTable{
  width: 800px;
  margin: 0 auto;
  text-align: center;
/*   min-height: 100vh;
  padding: 33px 30px; */
}

.memberList {
  width: 100%;
  display: table;
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
}

.memberList-rowheader {
  color: #24292e;
  background: #efefef;
  width: 20%;
}

.memberList-rowheader th {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 10px 2px;
}
.memberList-row {
  display: table-row;
  background: #fff;
}

.memberList-row td {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 10px 2px;
  border-bottom: 1px solid #f2f2f2;
}

.memberList-row:hover {
  background-color: #ececff;
  cursor: pointer;
}