.footBox{
	position:fixed;
	left:0px;
	bottom:0px;
	width: 100%;
	text-align: center;
	background-color: #808080;
}

.one {
	color: white;
	padding: 15px 0 0;
	font-size: 13px;
}

.two{
	color: white;
	padding: 3px 0;
	font-size: 13px;
}

.Copyright{
	color: white;
	padding: 0 0 15px;
	font-size: 13px;
}
