.headerBody{
	margin: 0;
}
.headerBox{
	margin: 0 auto;	
	background-color: #24292e;
}

.headerBox2{
	margin: 0 auto;
	display: flex;
	padding: 5px 12px;
}
.mainTitle{
	display: inline-block;
}
.mainName{
	display: inline-block;
	font-size: 20px;
	color: white;
}
.subName{
	display: inline-block;
	font-size: 12px;
	color: white;
}
.btnAll{
	display:inline-block; 
	float: right;
	margin: auto 100px;
}

.mbtn  {
	width:80px;
	height:25px;
    background-color: #24292e;
    border: 1px;
    color:#ebebeb;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
	
}
.mbtn:hover{
	color:#c0c0c0;
}

.btn1 {
	width:80px;
	height:25px;
    background-color: #24292e;
    border: 1px;
    color:#ebebeb;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
	
}
.btn1:hover{
	color:#c0c0c0;
}


.btn2{
	width:80px;
	height:25px;
    background-color: #24292e;
    border: 1px;
    color:#ebebeb;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
	
}

.btn2:hover{
	color:#c0c0c0;
}

.loginBox{
	margin:auto;
	margin-right: 5px;

}

.loginBox2{
	float: right;
}

.loginUser{
	color: white;
	font-size: 13px;
}

.logoutBtn{
	width:80px;
	height:25px;
    background-color: #24292e;
    border: 1px;
    color:#ebebeb;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
}
.logoutBtn:hover{
    color:#c0c0c0;
}


