.mainBody{
	width: 800px;
	height: 80vh;
    margin: 0 auto;
}

.mainMonthlyTable {
  width: 800px;
/*   min-height: 100vh;
  padding: 33px 30px; */
}

.mirisLogo{
	margin: 50px auto;
	width: 250px;
	display: block;
}

.nowName{
	margin: 80px auto 5px;
	width: 800px;
}
.nowWorking{
	width: 100%;
 	display: table;
  	margin: 0;
  	border-radius: 5px;
  	overflow: hidden;
}
.nowWorking-rowheader {
  color: #ffffff;
  background: #6c7ae0;
}

.nowWorking-rowheader th {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 5px 0;
}
.nowWorking-row {
  display: table-row;
  background: #fff;
}

.nowWorking-row td {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 5px 0;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}

.nowWorking-row:hover {
  background-color: #ececff;
  cursor: pointer;
}

.mainTodayTable {
  width: 800px;
/*   min-height: 100vh;
  padding: 33px 30px; */
}

.todayName{
	margin: 50px auto 5px;
	width: 800px;
}

.todayWorking{
	width: 100%;
 	display: table;
  	margin: 0;
  	border-radius: 5px;
  	overflow: hidden;
}
.todayWorking-rowheader {
  color: #ffffff;
  background: #6c7ae0;
}

.todayWorking-rowheader th {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 5px 0;
}
.todayWorking-row {
  display: table-row;
  background: #fff;
  width: 25%;
}

.todayWorking-row td {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.todayWorking-row:hover {
  background-color: #ececff;
  cursor: pointer;
}
