.monthlyListBox{
	margin:0 auto;
	background-color: #e7e8eb;
	min-height: 824px;
}
.monthlySumTable {
  width: 1200px;
  margin: 0 auto;
}
.sumText{
	font-weight:600;
	font-size:30px;
	text-align:center;
	margin: 0 auto;
	padding: 50px 0 30px;
	color: #24292e;
}
.monthlySum {
  width: 100%;
  display: table;
  margin: 0;
  border-radius: 7px;
  overflow: hidden;
  text-align: center;
}

.monthlySum-rowheader {
  background-color: #93aeca;
  
}

.monthlySum-rowheader th {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #efefef;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 10px 0;
  width: 12.5%;
}
.monthlySum-row {
  display: table-row;
  background: #fff;
}

.monthlySum-row td {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 5px 0;
  border-bottom: 1px solid #f2f2f2;
}

.monthlySum-row:hover {
  background-color: #ececff;
  cursor: pointer;
}



.monthlyListTable {
  width: 1200px;
  margin: 0 auto;
}

.listText{
	font-weight:600;
	font-size:30px;
	text-align:center;
	margin: 0 auto;
	padding: 50px 0 30px;
	width: 800px;
	color: #24292e;
}
.btn{
	padding: 0 0 30px;
}
.workBtn{
	float: right;
}
.statusBtn{
	float: right;
	margin: 0 5px;
}
.copyBtn{
	float: right;	
}
.monthlyForm{
	font-size: 12px;
	margin: 0 0 10px;
}
.yearSelect{
	
}
.monthSelect{
	
}
.gbnSelect{
	
}
.nameInput{
	width: 70px;
}
.positionSelect{
	
}
.nowWork{
	width: 130px;
}
.formBtn{
	float: right;
	width: 70px;
}
.monthlyList {
  width: 100%;
  display: table;
  margin: 0;
  border-radius: 7px;
  overflow: hidden;
}

.monthlyList-rowheader {
  background-color: #93aeca;
}

.monthlyList-rowheader th {
  font-family: Poppins-Regular;
  height : 30px;
  font-size: 12px;
  color: #efefef;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 4px 2px;
}
.monthlyList-row {
  display: table-row;
  background: #fff;
}

.monthlyList-row td {
  text-align: center;
  font-family: Poppins-Regular;
  height : 30px;
  font-size: 12px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding : 1px 2px;
  border-bottom: 1px solid #f2f2f2;
}

.monthlyList-row:hover {
  background-color: #ececff;
  cursor: pointer;
}